/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 200px;
  padding-left: 17.5px;
  padding-right: 17.5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 15px;
  gap: 40px;

  width: 340px;

  background: #ffffff;

  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.user-image {
  width: 64px;
  height: 64px;
  border-radius: 64px;
}

.user-name-designation {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}

.user-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  color: #171717;
}

.user-designation {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #525252;
}

.user-bio {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #525252;
}

.card-actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.contact-btn {
  border: none;
  gap: 6px;
  background: #4338ca;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;

  cursor: pointer;
  outline: none;
  padding: 10px 16px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

.contact-btn:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.contact-btn:disabled {
  pointer-events: none;
  background: #f5f5f5;
  color: #a3a3a3;
  box-shadow: none;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links-btn {
  display: flex;
  gap: 16px;
}

.social-btn {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 4px;

  cursor: pointer;
  outline: none;

  color: #4338ca;
}

.social-btn:hover {
  background-color: #fafafa;
}

.social-btn:focus {
  background-color: #fafafa;
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.social-btn:disabled {
  pointer-events: none;
}
