/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  min-height: 100vh;
  padding: 112px 24px;
}

.button__variants {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 300px;
}

.button__variants__sizes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  background: none;
  outline: inherit;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}
.button:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

/* Size classes */
.button_size_md {
  height: 40px;
  column-gap: 6px;
  padding: 10px 14px;

  font-size: 14px;
  line-height: 20px;
}
.button_secondary.button_size_md {
  padding: 9px 13px;
}

.button_size_lg {
  height: 44px;
  column-gap: 8px;
  padding: 10px 16px; 

  font-size: 16px;
  line-height: 24px;
}
.button_secondary.button_size_lg {
  padding: 9px 15px; 
}

.button_size_xl {
  height: 48px;
  column-gap: 8px;
  padding: 12px 20px;

  font-size: 16px;
  line-height: 24px;
}
.button_secondary.button_size_xl {
  padding: 11px 19px; 
}

.button_size_2xl {
  height: 60px;
  column-gap: 12px;
  padding: 16px 24px; 

  font-size: 18px;
  line-height: 28px;
}
.button_secondary.button_size_2xl {
  padding: 15px 23px; 
}

.button_link.button_size_md,
.button_link.button_size_lg,
.button_link.button_size_xl,
.button_link.button_size_2xl  {
  padding: 0;
  height: 100%;
}

.button_icon_size_md {
  width: 40px;
}
.button_icon_size_lg {
  width: 44px;
}
.button_icon_size_xl {
  width: 48px;
}
.button_icon_size_2xl {
  width: 56px;
  height: 56px;
}

/* button variants */
.button_primary{
  background: #4338CA;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  color: #ffffff;
}
.button_primary:hover, .button_primary:focus  {
  background: #3730A3;
}
.button_primary:disabled, .button_secondary:disabled {
  background: #F5F5F5;
  box-shadow: none;
  color: #A3A3A3;
  pointer-events: none;
}

.button_secondary{
  border: 0.5px solid #E6E6E6;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  color: #171717;
}
.button_secondary:hover, .button_secondary:focus {
  background: #FAFAFA;
  border: 1px solid #E6E6E6;
  color: #0A0A0A
}
.button_secondary:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.button_tertiary{
  color: #4338CA;
}
.button_tertiary:hover, .button_tertiary:focus {
  background: #FAFAFA;
}
.button_tertiary:disabled, .button_danger:disabled  {
  background: none;
  box-shadow: none;
  color: #A3A3A3;
  pointer-events: none;
}

.button_danger{
  background: #DC2626;
  color: #ffffff;
}
.button_danger:hover, .button_danger:focus  {
  background: #B91C1C;;
}
.button_danger:focus {
  box-shadow: 0px 0px 0px 1px #D92D20, 0px 0px 0px 4px rgba(217, 45, 32, 0.12);
}

.button_link {
  color: #4338CA;
}
.button_link:hover, .button_link:focus {
  color: #3730A3;
}

.button_link_gray {
  color: #525252;
}
.button_link_gray:hover, .button_link_gray:focus {
  color: #171717;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 0;
  }
  .button__variants {
    width: auto;
  }
}