/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 200px;
}

.badge__variants {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 240px;
}

.badge__variants__sizes {
  display: flex;
  align-items: center;
  gap: 24px;
}

.badge {
  border-radius: 9999px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

/* Size classes */
.badge--size-sm {
  height: 20px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 16px;
}
.badge--size-md {
  height: 24px;
  padding: 1px 7px;
  font-size: 14px;
  line-height: 20px;
}
.badge--size-lg {
  height: 28px;
  padding: 3px 9px;
  font-size: 14px;
  line-height: 20px;
}

/* Color classes */
.badge--color-neutral {
  background: #F9FAFB;
  border-color: #E6E6E6;
  color: #525252;
}
.badge--color-danger {
  background: #FEF2F2;
  border-color: #FECACA;
  color: #DC2626;
}
.badge--color-warning {
  background: #FFFBEB;
  border-color: #FDE68A;
  color: #B45309;
}
.badge--color-success {
  background: #F0FDF4;
  border-color:#BBF7D0;
  color: #15803D;
}
.badge--color-brand {
  background: #EEF2FF;
  border-color: #C7D2FE;
  color: #4338CA;
}